.chat {
	grid-area: chat;
    background-color: white;
    border-right: 1px solid black;
    height: 100vh;
}

.chat h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.chat-grid {
	text-align: left;
	width: 100%;
	height: 100%;
    overflow: scroll;
}

.chat-item {
    padding: 17px;
    height: 40px;
    border-top: 1px solid black;
}

.chat-item:nth-child(even) {
    background-color: white;
}

.chat-item:hover {
    cursor: pointer;
    background-color: rgb(192, 196, 250);
}