.header {
    grid-area: header;
    background-image: linear-gradient(25deg, rgb(66, 66, 65), rgb(45, 1, 148));
}

.header h1 {
    color: white;
    font-size: 2.0rem;
    margin-top: 12px;
    margin-bottom: 12px;
}