.joingroup {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;

	height: 600px;
}


.joingroup h1 {
	text-align: center;
	font-size: 40px;
}

.joingroup h2 {
	text-align: left;
	right: 5%;
	padding: 15px;
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 0;
}

.joingroup h3 {
	text-align: center;
	right: 5%;
	padding: 15px;
	font-size: 40px;
	margin-top: 5%;
	margin-bottom: 0;
}

.joingroup h4 {
	font-size: 25px;
	padding: 10px;
}

.submit {
	background: rgba(200, 200, 200, 1);
	width: 120px;
	text-align: center;
    margin-top: 450px;
    /* margin-bottom: 20px; */
}

.joingroup .partition {
    margin-top: 100px;
}

.joingroup .select {
    top: 83%;
    left: 5%;
}