* {
	margin: 0;
	padding: 0;
	/* overflow: hidden; */
}

html, body {
	height: 100%;
    overflow: auto;
    background: linear-gradient(25deg, rgb(66, 66, 65), rgb(45, 1, 148));
}

.main h1 {
	text-align: center;
}
