.map {
    grid-area: map;
    /* background-color: rgb(58 38 102); */
    /* background: linear-gradient(25deg, rgb(66, 66, 65), rgb(45, 1, 148)); */
    height: 100%;
}

.map h2 {
    margin-top: 10px;
    color: white;
}

.map-area {
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 40px;
    animation: glowing 10000ms infinite;
    border-radius: 30px;
}

@keyframes glowing {
    0% { box-shadow: 0 0 -20px #c4a300; }
    40% { box-shadow: 0 0 20px #c4a300; }
    60% { box-shadow: 0 0 20px #c4a300; }
    100% { box-shadow: 0 0 -20px #c4a300; }
  }