.map {
    grid-area: map;
    background-color: rgb(218, 235, 255);
    height: 100%;
    /* grid-area: lobby; */
    /* text-align: center; */
    /* right: 0; */
    /* background-color: pink; */
    /* width: 67%; */
}

.map h2 {
    margin-top: 10px;
}